# Бинарники
bin/
*.exe
*.exe_*
*.dll
*.so
*.dylib

bin/

# Бинарники и данные конкретного модуля bulker
flibusta_fb2_bulker/bin/
flibusta_fb2_bulker/data/out/*
flibusta_fb2_bulker/data/src/*
flibusta_fb2_bulker/data/warn/*

# Исключения для структуры данных
!flibusta_fb2_bulker/data/**/.gitkeep



# Объекты и кэш
*.a
*.o
*.out
.cache/

# Логи и дампы
*.log
sources-*.txt
*.db

# Зависимости (если не вендоришь)
vendor/

# IDE
.idea/
.vscode/
.DS_Store
