opensearch:
  index_name: "flibusta_merged_index"
  url: "{{ opensearch_url }}"

paths:
  warn_dir: "{{ f2bulker_install_dir }}/data/warn"
  output_dir: "{{ f2bulker_install_dir }}/data/out"
  source_dir: "/mnt/fb2/fb2.Flibusta.Net"

processing:
  threads: 4

logging:
  log_path: "{{ f2bulker_install_dir }}/logs/f2bulker.log"

metrics:
  pushgateway_url: "http://localhost:9091"

sleep_between_zips: 600

uploading:
  log_path: "{{ f2bulker_install_dir }}/logs/uploader.log"
  sleep_between_uploads: 30
